import { ColorResolvable } from 'discord.js'

export const discordBotConfig = {
	token: '',
	noticeChannelId: '',
	mentionRoleId: '',
	colors: {
		join: '#81f542',
		move: '#4287f5',
		leave: '#f54242',
		death: '#171717',
		normalAdvancement: '#d5de2c',
		challengeAdvancement: '#c036eb'
	},
	addresses:{
		serverAddress1:'example.com',
		serverAddress2:'hot.ssnetwork.io:00000'
	}
}
