import { serverData } from '../server/interfaces'

export const serverList: Array<serverData> = [
	{
		name: 'Velocity',
		id: 'proxy',
		type: 'mc',
		machineId: 'test',
		autoStart: true,
		attributes: {
			isStartableFromDiscord: true,
		}
	}, {
		name: 'テスト1サーバー',
		id: 's1',
		type: 'mc',
		machineId: 'test',
		autoStart: false,
		attributes: {
			isStartableFromDiscord: true,
			notice: {
				start: true,
				stop: true,
				hang: true,
				joinLeave: true,
				advancement: true,
				death: true
			},
			startMention: true
		}
	}, {
		name: 'テスト2サーバー',
		id: 's2',
		type: 'mc',
		machineId: 'test',
		autoStart: false,
		attributes: {
			isStartableFromDiscord: true,
			notice: {
				start: true,
				stop: true,
				hang: true,
				joinLeave: false,
				advancement: false,
				death: false
			},
			startMention: false
		}
	}, {
		name: 'テスト',
		id: 'test',
		type: 'common',
		machineId: 'test',
		autoStart: false,
		attributes: {
			isStartableFromDiscord: false,
			notice: {
				start: false,
				stop: false,
				hang: true,
				joinLeave: false,
				advancement: false,
				death: false
			},
			startMention: false
		}
	}
]
