import { serverData } from '../server/interfaces'

export const serverList: Array<serverData> = [
	{
		name: 'Velocity',
		id: 'proxy',
		type: 'mc_proxy',
		icon: {
			imageUrl: '',
			minecraftItemId: ''
		},
		childrenIds: ['s1', 's2'],
		machineId: 'testmachine',
		autoStart: true,
		attributes: {
			isStartableFromDiscord: true,
		}
	}, {
		name: 'テスト1サーバー',
		shortName: 'テスト1',
		id: 's1',
		type: 'mc',
		proxyId: 'proxy',
		description: ['テスト1', 'aaaa'],
		machineId: 'testmachine',
		autoStart: false,
		icon: {
			imageUrl: '',
			minecraftItemId: 'minecraft:beacon'
		},
		attributes: {
			isStartableFromDiscord: true,
			notice: {
				start: true,
				stop: true,
				hang: true,
				joinLeave: true,
				advancement: true,
				death: true
			},
			startMention: true
		}
	}, {
		name: 'テスト2サーバー',
		id: 's2',
		type: 'mc',
		proxyId: 'proxy',
		description: ['テストだよ'],
		machineId: 'testmachine',
		autoStart: false,
		icon: {
			imageUrl: '',
			minecraftItemId: 'minecraft:nether_star'
		},
		attributes: {
			isStartableFromDiscord: true,
			notice: {
				start: true,
				stop: true,
				hang: true,
				joinLeave: false,
				advancement: false,
				death: false
			},
			startMention: false
		}
	}
]
